main{
    background-color: rgb(172, 81, 16);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 20px;
    padding: 20px;
    margin: 40px auto;
}

.main_titulo{
    font-family: 'VCR OSD Mono', monospace;
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.main_logo{
    width: 300px;
    height: 300px;
}

.main_texto{
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    font-size: 22px;
    margin: 0;
    text-align: left;
    width: 100%;
}

main hr{
    width: 100%;
    border: none;
    border-top: 2px dashed white;
    margin: 10px 0;
}

.easter{
    text-decoration: none;
    color: red;
    position: fixed; 
    left: 15px;
    bottom: 15px;
    z-index: 9999;
}

/* =========================================
RESPONSIVIDADE
========================================= */
@media (max-width: 1200px){
    main{
        margin: 30px auto;
        gap: 15px;
    }

    .main_titulo{
        font-size: 40px;
    }

    .main_logo{
        width: 200px;
        height: 200px;
    }

    .main_texto{
        font-size: 18px;
    }
}

@media (max-width: 970px){
    main{
        margin: 25px auto;
        gap: 12px;
    }

    .main_titulo{
        font-size: 35px;
    }

    .main_logo{
        width: 170px;
        height: 170px;
    }

    .main_texto{
        font-size: 15px;
    }
}

@media (max-width: 853px){
    main{
        margin: 20px auto;
        gap: 9px;
    }

    .main_titulo{
        font-size: 30px;
    }
}

@media (max-width: 735px){
    main{
        margin: 15px auto;
        gap: 5px;
    }

    .main_titulo{
        font-size: 25px;
    }
}

@media (max-width: 617px){
    main{
        margin: 15px auto;
        gap: 5px;
    }

    .main_titulo{
        font-size: 20px;
    }

    .main_logo{
        width: 130px;
        height: 130px;
    }

    .main_texto{
        font-size: 13px;
    }    
}